POSTGRES_HOST = 
POSTGRES_PORT = 
POSTGRES_DB = 
POSTGRES_USER = 
POSTGRES_PASSWORD = 

STORAGE_ENDPOINT = 
STORAGE_ACCESS_KEY =  
STORAGE_SECRET_KEY = 
STORAGE_BUCKET = 

LIBREFM_USERNAME = 
LIBREFM_PASSWORD = 

WEBHOOK_URL = 
ICECAST_URL = 
